* {
    margin: 0;
    padding: 0;
}

.divContainer {
    width: 100%;
    height: 610px;
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divContainerCrosswords {
    height: 85%;
    border: black solid 2px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.divColuna_1 {
    height: 70%;
    width: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



/* .divColuna_1 #inputCampo1 {
    position: relative;
    left: 1900%;
} */

.divColuna_2 {
    height: 70%;
    width: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divColuna_2 #inputCampo1 {
    position: relative;
    left: 1900%;
}

.divContainerCrosswords input {
    height: 100%;
    width: 90%;

}

table {
    border-collapse: collapse;
    
}

td {
    border: 1px solid black;
    width: 25px;
    height: 20px;
   
}