  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Roboto+Mono:wght@600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu';
}

body {
    background: linear-gradient(#e66465, #9198e5);
}

.divContainer {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.divContainerCrosswords {
    height: 100%;
    border: black solid 2px;
    border-radius: 30px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #9198e5;
    color: white;
    

}

.campo {
    border: 1px currentColor black;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 139, 0.25);
    text-align: center;
    
    
}

.utilizado {
    background-color: white;
    border: 2px solid black;
    visibility: visible;
    background-color: white;
    color: black;
}


.div


/* .divDicas {
    border: black solid 2px;
} */

table {
    border-collapse: separate;
    display: flex;
    justify-content: center;
    text-align: center;
}

.campo:hover {
    cursor: pointer;
}

.divInput input {
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
}

.btnVerificar {
    cursor: pointer;
    background-color:  rgba(105, 105, 105, 0.15);
    border-radius: 10px;
    height: 30px;
    width: 70px;
    color: white;

}

.btnVerificar:hover {
    background-color: darkblue;
    color: white;
}