* {
    margin: 0;
    padding: 0;
}

.divContainer {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divContainerCrosswords {
    height: 85%;
    border: black solid 2px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.divDicas {
    border: black solid 2px;
}

table {
    border-collapse: collapse;
    
}

td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
   
}